<% form_for @question do |f| %>
  <p><%= f.label :content, 'Set question:' %> <%= f.text_field :content %></p>
  <div class="answers"></div>
  <%= link_to('Add answer', root_path, class: 'btn btn-outline-danger') %>
  <p><%= f.submit "Activate" %></p>
<% end %>
