<div class="question-fields">
  <p class="btn btn-outline-danger destroy_link">delete</p>
  <input name="questions[][content]" value="question content">
  <div class="answers"></div>
  <p class="btn btn-outline-danger add-answer" type="checkbox" id="add-answer">Add answer</p>
  <input name="questions[][question_type]" style="display: none" value="checkbox">
  <input id="index" style="display: none" value="0">
</div>
