<%= form_for @question, to: add_question_path do |f| %>
  <div>
    <p><%= f.label :content, 'Set question:' %> <%= f.text_field :content %></p>
    <div class="answers"></div>
    <p class="btn btn-outline-danger add-answer" type="radio" id="add-answer">Add answer</p>
    <p><%= f.submit "Add question" %></p>
  </div>
<% end %>
