<div class="question-fields">
  <input name="questions[][content]" value="question content">
  <div class="answers">
    <input type="text" name="answer_list[][answers][0]" value="this is a textbox question" style="display: none">
    <input type="text" name="answer_list[][correct_answers][]" value="write the answer">
  </div>
  <input name="questions[][question_type]" style="display: none" value="textbox">
</div>
