<div class="container">
  <div class="row">
    <div class="col">
      <h3>Users awaiting answer check:</h3>
      <% @awaiting_participations.each do |participation| %>
        <hr/>
        <%- profile = participation.user.profile %>
        <p><%= "#{profile.name} #{profile.surname} (@#{profile.nickname}) awaits check on \"#{@course.name}\" course" %></p>
        <%= link_to 'Check his answers', user_check_course_path(@course, participation.user), class: 'btn btn-md btn-success' %>
      <% end %>
    </div>
  </div>
</div>