<h1>All join requests</h1>
<% console %>
<div>
  <% @join_requests.each do |request| %>
    <div id="join-request-<%= request.id %>">
      <hr/>
      From: <%= request.user.profile.nickname %><br/>
      <%= link_to 'Accept', accept_request_organization_path(@organization, request), method: :put, remote: :true, class: 'btn btn-md btn-success' %>
      <%= link_to 'Decline', decline_request_organization_path(@organization, request), method: :put, remote: :true, class: 'btn btn-md btn-danger' %>
      <hr/>
    </div>
  <% end %>
</div>