<%= simple_form_for :sort, remote: true, url: courses_sortable_path, method: :get do |f| %>
  <div class="form-row">
    <div class="col-md-8">
      <%= f.input :sort_by, label: 'Sort by', collection: [], include_blank: false, required: false %>
    </div>
    <div class="col-md-4">
      <%= f.input :direction, label: nil, collection: {'￪': 'asc', '￬': 'desc'},
          include_blank: false, required: false %>
    </div>
  </div>
<% end %>