<div class="container">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <h1>Courses</h1>
    </div>
    <div class="col-md-1 my-1">
      <div class="h2">
        <%= link_to(new_course_path) do %>
          <i class="fas fa-plus"></i>
        <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="card" id="side-bar">
      <div class="card-body">
        <h5 class="text-center">Sorting</h5>
          <%= render'courses/sort_menu' %>
        <h5 class="text-center">Filters</h5>
        <div class="form-group">
          <%= render 'courses/label_menu' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9" id="course-list">
    <%= render 'courses/card', courses: @courses %>
  </div>
</div>
</div>
