<h1>All courses: </h1>
<%= link_to 'Create course', new_course_path, class: 'btn btn-md btn-primary' %>
<% @courses.each do |course| %>
  <%= render partial: 'courses/card', locals: {course: course } %>
<% end %>