@import "jquery-ui";
//@import "font-awesome-sprockets";
//@import "font-awesome";
@import 'font_awesome5.css';
@import "bootstrap";
@import "application/application";
@import "application/footer";
@import "questions";
@import "user_dashboard";
@import "certificates";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-slider";
@import "courses";
@import "organizations";

.tooltip.in {
  opacity: 1;
}

#link_on {
  color: inherit;
  text-decoration: none;
}
