<div class="container">
  <div class="text-center">
    <h1>Organization</h1>
  </div>
  <%= render 'organizations/sort_list' %>
  <ul class="list-group list-group-flush my-5">
    <% @organizations.each do |org| %>
      <%= render 'organizations/organization_list_unit', organization: org %>
    <% end %>
  </ul>
  <%= render 'organizations/pagination', collection: @organizations %>
</div>
